<style>
  .diff{overflow:auto;}
  .diff ul{background:#fff;overflow:auto;list-style:none;margin:0;padding:0;display:table;width:100%;}
  .diff del, .diff ins{display:block;text-decoration:none;}
  .diff li{padding:0; display:table-row;margin: 0;height:1em;}
  .diff li.ins{background:#dfd; color:#080}
  .diff li.del{background:#fee; color:#b00}
  /* try 'whitespace:pre;' if you don't want lines to wrap */
  .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
  .diff del strong{font-weight:normal;background:#fcc;}
  .diff ins strong{font-weight:normal;background:#9f9;}
  .diff li.diff-comment { display: none; }
  .diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
</style>

<%= field_wrapper **field_wrapper_args do %>
  <% resource_keys = @field.value.keys %>
  <div class="space-y-2 bg-slate-50">
    <% @diffy_value.each do |value| %>
      <div class="border rounded p-2">
        <div class="uppercase font-bold text-gray-500 text-xs"><%= value[0] %></div>
        <div class="pt-2 pb-2"><%= value[1].to_s(:html).html_safe %></div>
      </div>
    <% end %>
  </div>
<% end %>